html, body {
    background-color: #696969;
    color: #00ced1;
    width: 100%;
}

h1 {
    text-align: center;
}

main, form {
    width: 90%;
    margin: auto;
}

table {
    min-width: 25em;
    text-align: right;
}

td {
    padding: 1em;
}

#totals h4 {
    margin: 0;
}